form {
    width: 30%;
    margin: 5% auto;
    font-family: Arial;
}
input {
      width: 100%;
      margin: 8px 0;
      padding: 12px 20px;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #dc3644;
}
input:focus {
    outline: none;
    border:1px solid #dc3644;
}
input[type=submit]:hover {
    background-color: #dc3644;
}